
@{
    ViewBag.Title = "InternalServerError";
}

<h2>InternalServerError</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["StatusCode"] - @ViewData["ErrorMessage"]
    </div>
}
